<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>FPL News</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="article">
            <!-- Wstęp -->
            <h1 class="article-summary-title">Makelele ma dość Fergusona</h1>
            <div class="article-summary">
                <!-- Plakat -->
                <img src="../static/img/image-placeholder.png"
                     alt="tytuł artykułu"
                     class="article-summary-cover"
                />
                <!-- informacje o artykule -->
                <div class="article-summary-info">
                    <div>
                        <p><i class="fa-solid fa-heart"></i> 134</p>
                    </div>
                    <p class="article-summary-item">Data: 01.03.2001</p>
                    <p class="article-summary-item">Autor: <a href="#">John Doe</a></p>
                </div>
                <!-- treść artykułu -->
                <div class="article-content">
                    <p>Strikers United, jeden z najbardziej utalentowanych zespołów w Premier League, jest obecnie na ustach wszystkich miłośników piłki nożnej. Zespół zyskał reputację dzięki swojemu ekscytującemu i dynamicznemu stylowi gry, który przyciąga tłumy na stadiony. Od czasu do czasu wprowadza innowacyjne taktyki, które zaskakują przeciwników i przynoszą spektakularne wyniki. Zespół zebrał wokół siebie grupę utalentowanych i ambitnych zawodników, którzy dążą do zdobycia korony Premier League. W tym artykule przyjrzymy się bliżej Strikers United, ich drodze do sukcesu oraz najważniejszym postaciom, które tworzą ten niezwykły zespół..</h4>
                    </p>
                </div>
            </div>
            <!-- Ocena -->
            <div class="article-rating-container article-section">

                <form action="#" class="article-rating-form">
                    <input type="hidden" name="articleId">
                    <div class="article-rating-buttons">

                    </div>
                </form>
                <p><a href="#">Zaloguj się</a> aby oddać głos lub skomentować.</p>
            </div>
            <div class="comments">
                <h1> Komentarze:</h1>
                <div class="comment" th:each="articleComment: ${articleComments}">
                    <p class=comment-author th:text="${articleComments.author.username}" th:href="@{|author/${articleComments.author.username}|}"> Jan Kapela: </p>
                    <p class= "comment-content" th:text="${articleComment.content}"> Uważam, że Ferguson ma rację w tym sporze. Makelele nie ma racji. </p>
                    <div class="comment-icons">
                        <i class="fa-solid fa-circle-plus"></i>
                        <i class="comment-rating">134</i>
                        <i class="fa-solid fa-circle-minus"></i>
                    </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>